/lab2/task3/nbproject/private/
/lab2/task3/build/
/lab2/task3/dist/
/lab2/task2/nbproject/private/
/lab2/task2/build/
/lab7/task1/nbproject/private/
/lab7/task1/build/
/lab7/Task2/nbproject/private/
/lab7/Task2/build/
/lab7/task3/nbproject/private/
/lab7/task3/build/
/gui javaFX/lab1/task1/target/
